/* Features Section */
.features-section {
  background-color: #f9fafb;
  padding: 4rem 0;
}

.containerss {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.headerss {
  text-align: center;
  margin-bottom: 3rem;
  margin-left:45px;

}

.tags {
  display: inline-block;
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(152, 251, 152, 0.5);
margin-left:-45px
}

p {
  color: #6b7280;
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.125rem;
}

/* Features Grid */
.features-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 2rem 0;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 20px 20px rgba(0, 255, 0, 0.1); /* Ombre verte avec 10% d'opacité */

}

.feature-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  color: #3b82f6;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(152, 251, 152, 0.5);
}

.feature-card p {
  font-size: 0.875rem;
  color: #6b7280;
}

/* Responsive Design */
@media (min-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}